%h2  Please sign up: 

%form{ action: '/user', method: 'post'}
	%input{ name: 'email', type: 'text', value: "", placeholder: 'email'}
	%input{ name: 'password', type: 'password', placeholder: 'password'}
	%input{ name: 'password_confirmation', type: 'password', placeholder: 'Just to check'}
	%input{ type: 'submit', value: 'Sign up'}


