
body {
	background: #00FFBF;
	font-family: "Helvetica Neue",Arial,sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 15px;
	letter-spacing: .2em;
	font-style: bold;
	color: gray;
	text-decoration: none;
	float: left;
	
}

header {
	/*padding: ;
	border: fixed;
	border-width: 100%;
	border-color: grey ;*/

}

form {

}



a{
	text-decoration: none;
	color: white;
	text-shadow: #999 0 0 3px;
}

a:hover {
	text-shadow: none;
}

/*h1{
	float: left;
}*/
